<div class="headContainer">
    <link rel="stylesheet" href="stylesheets/head.css">
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    MONGODB  HEAD
</div>